In [241]:
import pandas as pd 

import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_excel("../data/M_Liver_Prediction_Training.xlsx")
df.head()

,S.NO,Name,Age,Gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,...,alkphos,is_patient,Dataset,BP,DiabetesLevel,Disease,GGT,PT,LD,Hepatitis
0,1,Ramu,65,Female,0.7,0.1,187,16,18,6.8,...,0.90,1,1,130,130,yes,65,14.0,250,Alkahol
1,2,Somu,62,Male,10.9,5.5,699,64,100,7.5,...,0.74,1,2,140,130,yes,65,14.0,250,Alkahol
2,3,Bhanu,62,Male,7.3,4.1,490,60,68,7.0,...,0.89,1,2,130,130,yes,65,14.0,250,Alkahol
3,4,Rishi,58,Male,1.0,0.4,182,14,20,6.8,...,1.00,1,1,120,130,yes,65,14.0,250,Alkahol
4,5,Sagar,72,Male,3.9,2.0,195,27,59,7.3,...,0.40,1,1,130,130,yes,65,14.0,250,Alkahol

In [242]:
df.columns

Index(['S.NO', 'Name', 'Age', 'Gender', 'tot_bilirubin', 'direct_bilirubin',
       'tot_proteins', 'albumin', 'ag_ratio', 'sgpt', 'sgot', 'alkphos',
       'is_patient', 'Dataset', 'BP', 'DiabetesLevel', 'Disease', 'GGT', 'PT',
       'LD', 'Hepatitis'],
      dtype='object')

In [243]:
df["Disease"].unique()

array(['yes', 'no', 'No'], dtype=object)

In [244]:
df.shape

(349, 21)

In [245]:
df.isnull().sum()

S.NO                0
Name                0
Age                 0
Gender              0
tot_bilirubin       0
direct_bilirubin    0
tot_proteins        0
albumin             0
ag_ratio            0
sgpt                0
sgot                0
alkphos             0
is_patient          0
Dataset             0
BP                  0
DiabetesLevel       0
Disease             0
GGT                 0
PT                  0
LD                  0
Hepatitis           0
dtype: int64

In [246]:
X = df[
    ['Age', 'Gender', 'tot_bilirubin', 'direct_bilirubin',
     'tot_proteins', 'albumin', 'ag_ratio', 'sgpt', 'sgot',
     'alkphos', 'GGT', 'LD', 'PT', 'DiabetesLevel', 'Hepatitis',"BP"]
]

In [247]:
df['Disease'] = df['Disease'].str.lower()

In [248]:
df['Disease'] = df['Disease'].map({'yes': 1, 'no': 0})

In [249]:
y = df["Disease"]

In [250]:
df["Disease"].value_counts()

Disease
0    220
1    129
Name: count, dtype: int64

In [251]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               349 non-null    int64
 1   Gender            349 non-null    object
 2   tot_bilirubin     349 non-null    float64
 3   direct_bilirubin  349 non-null    float64
 4   tot_proteins      349 non-null    int64
 5   albumin           349 non-null    int64
 6   ag_ratio          349 non-null    int64
 7   sgpt              349 non-null    float64
 8   sgot              349 non-null    float64
 9   alkphos           349 non-null    float64
 10  GGT               349 non-null    int64
 11  LD                349 non-null    int64
 12  PT                349 non-null    float64
 13  DiabetesLevel     349 non-null    int64
 14  Hepatitis         349 non-null    object
 15  BP                349 non-null    int64
dtypes: float64(6), int64(8), object(2)
memory usage: 43.8+ KB

In [252]:
from sklearn.preprocessing import LabelEncoder

object_cols = X.select_dtypes(include=['object']).columns
label_encoders = {}

for col in object_cols:
    le = LabelEncoder()
    X[col] = le.fit_transform(X[col])
    label_encoders[col] = le  # Save encoder for inverse transform
    
    # Print mapping for reference
    print(f"\n{col} mapping:")
    for i, class_name in enumerate(le.classes_):
        print(f"  {class_name} -> {i}")

Gender mapping:
  Female -> 0
  Male -> 1

Hepatitis mapping:
  Alkahol -> 0
  Viral -> 1

C:\Users\zgibio\AppData\Local\Temp\ipykernel_2604\267703499.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col] = le.fit_transform(X[col])
C:\Users\zgibio\AppData\Local\Temp\ipykernel_2604\267703499.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col] = le.fit_transform(X[col])

In [253]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               349 non-null    int64
 1   Gender            349 non-null    int64
 2   tot_bilirubin     349 non-null    float64
 3   direct_bilirubin  349 non-null    float64
 4   tot_proteins      349 non-null    int64
 5   albumin           349 non-null    int64
 6   ag_ratio          349 non-null    int64
 7   sgpt              349 non-null    float64
 8   sgot              349 non-null    float64
 9   alkphos           349 non-null    float64
 10  GGT               349 non-null    int64
 11  LD                349 non-null    int64
 12  PT                349 non-null    float64
 13  DiabetesLevel     349 non-null    int64
 14  Hepatitis         349 non-null    int64
 15  BP                349 non-null    int64
dtypes: float64(6), int64(10)
memory usage: 43.8 KB

In [254]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

print(f"Training set: {X_train.shape}, Test set: {X_test.shape}")

Training set: (279, 16), Test set: (70, 16)

In [255]:
from sklearn.preprocessing import StandardScaler

# Scale the features

In [256]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Initialize and train
rf_model = RandomForestClassifier(n_estimators=100, random_state=42, max_depth=10)
rf_model.fit(X_train, y_train)

# Predict and evaluate
y_pred = rf_model.predict(X_test)

print("Random Forest Results:")
print(f"Accuracy: {accuracy_score(y_test, y_pred):.4f}")
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Random Forest Results:
Accuracy: 1.0000

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        44
           1       1.00      1.00      1.00        26

    accuracy                           1.00        70
   macro avg       1.00      1.00      1.00        70
weighted avg       1.00      1.00      1.00        70

In [258]:
# Test just one patient (Fatty Liver Male example)
single_patient = np.array([[55, 1, 2.4, 1.1, 5.9, 3.1, 0.8, 105, 88, 195, 115, 335, 15.2, 2, 0, 152],])

pred = rf_model.predict(single_patient)[0]
prob = rf_model.predict_proba(single_patient)[0][1]

confidence_prob = prob if pred == 1 else 1 - prob
confidence = "HIGH" if confidence_prob > 0.8 else "MEDIUM" if confidence_prob > 0.6 else "LOW"

print(f"Prediction: {'Disease' if pred == 1 else 'Healthy'}")
print(f"Confidence: {confidence} ({confidence_prob:.1%})")

Prediction: Disease
Confidence: HIGH (84.0%)

c:\Users\zgibio\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Users\zgibio\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [259]:
import joblib 
joblib.dump(rf_model, 'fatty_liver_model.joblib')

['fatty_liver_model.joblib']